services:

  supernode:
    image: ${IMAGE_PREFIX:-registry.cn-hangzhou.aliyuncs.com/fjrcn}/n2n-supernode
    profiles:
      - gateway
    container_name: n2n-supernode
    restart: unless-stopped
    env_file: .env
    environment:
      - TZ=${TIMEZONE:-UTC}
    ports:
      - "${SUPERNODE_PORT}:${SUPERNODE_PORT}/udp"

  edge:
    image: ${IMAGE_PREFIX:-registry.cn-hangzhou.aliyuncs.com/fjrcn}/n2n-edge
    profiles:
      - edge
      - gateway
    container_name: n2n-edge
    network_mode: host
    restart: unless-stopped
    env_file: .env
    environment:
      - TZ=${TIMEZONE:-UTC}
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun

  dhcpd:
    image: ${IMAGE_PREFIX:-registry.cn-hangzhou.aliyuncs.com/fjrcn}/isc-dhcpd
    profiles:
      - gateway
    container_name: isc-dhcpd
    network_mode: host
    restart: unless-stopped
    env_file: .env
    environment:
      - TZ=${TIMEZONE:-UTC}
    depends_on:
      - edge
    cap_add:
      - NET_ADMIN
    volumes:
      - ./dhcpd/dhcpd.conf:/etc/dhcp/dhcpd.conf:ro
      - ./dhcpd/leases:/var/lib/dhcp

  lease-ui:
    image: ${IMAGE_PREFIX:-registry.cn-hangzhou.aliyuncs.com/fjrcn}/dhcp-lease-ui
    profiles:
      - gateway
    container_name: dhcp-lease-ui
    restart: unless-stopped
    env_file: .env
    environment:
      - TZ=${TIMEZONE:-UTC}
    depends_on:
      - dhcpd
    ports:
      - "${LEASE_UI_PORT}:80"
    volumes:
      - ./dhcpd/leases:/usr/share/nginx/html/leases:ro
